body {
    font-family: 'Fira Code', monospace;
    background-color: #151818;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
    margin-bottom: 20px;
}

.content-container {
    padding: 20px;
    background-color: #2d3234;
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    color: white;
}

.content-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #d9d9d9;
}

