html, body {
  height: 100%; /* Asegúrate de que ocupen el 100% de la altura */
  margin: 0; /* Elimina el margen por defecto */
}


body {
  font-family: 'Fira Code', monospace;
  line-height: 1.7;
  background: url('./images/background4.png') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(10px); /* Difuminado al fondo */
  overflow: hidden;
  height: 100%; /* Asegúrate de que ocupen el 100% de la altura */
  margin: 0; /* Elimina el margen por defecto */
}

h1, h2, h3, h4, h5, h6, .display-4 {
  color: white;
}

.welcome {
  margin-top: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  height: 300px; 
  text-align: center;
  color: white;
}
.welcome h1 {
  margin-bottom: 20px !important; 
}

.welcome h3 {
  margin-top: 10px !important; 
}

p, a {
  color: rgb(158, 158, 158);
  text-decoration: none;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 50px;
  padding-left: 30px;
}

.nav-link {
  font-size: x-large;
  padding: 25px 0;
}

.btn-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh; 
  margin-top: -30px; 
  text-align: center;
}


.btn-group {
  display: inline-flex;
  justify-content: column;
  align-items: center;
  margin: 40px;
}

.btn-group .btn {
  font-size: 1.75rem; 
  padding: 15px 30px; 
  margin: 2px 0;
}

.dropdown-menu {
  text-align: center; 
}

.dropdown-item {
  font-size: 1.2rem; 
  padding: 10px 20px; 
}

.collapse {
  margin-top: 10px;
}

.lesson-item {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.lesson-item:hover {
  transform: scale(1.03);
}

@media (max-width: 767.98px) {
  .dashboard-container {
    margin: 10px auto;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.logo-container {
  font-family: 'Million Smiles', monospace;
  color: #ffffff;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* Popup styling */
.popup {
  color: white;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #212529;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.popup-body p {
    color: white;
}


.popup-close {
  float: right;
  cursor: pointer;
  font-size: 48px;
  color: white;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
