body {
    font-family: 'Fira Code', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212529;
    background-image: url(images/completed.jpg);
    color: white;
}
.button-container {
    display: flex;
    justify-content: center;
}
.container {
    width: 65%;
    text-align: center;
    background-color: #394041;
    border-radius: 10px;
    padding: 20px;
    background: rgba(33, 37, 41, 0.8);
}
.btn {
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}