* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    padding: 0 !important;
}

.navbar-brand img{
    height: 50px;
    padding-left: 30px;
}