body {
    font-family: 'Fira Code', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #212529;
    margin: 0;
}

h1 {
    color: white;
}


.list-group-item {
    background-color: #394041 !important; 
    color: white; 
}

.list-group-item strong {
    color: #ced4da;
}