body {
    font-family: 'Fira Code', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #212529;
    margin: 0;
  }
  .content {
    width: 90%;
    max-width: 1300px;
    padding: 30px;
    background: #212529;
    color: white;
  }
  h1 {
    color: white;
    font-size: xx-large;
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
  }
  th, td {
    color: #ced4da;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
    color: #212529;
  }
  tr:nth-child(even) {
    background-color: #394041;
  }
  tr:nth-child(odd) {
    background-color: #343a40;
  }
  .highlight {
    font-size: 20px;
    font-weight: bold;
  }
  th:first-child {
    border-top-left-radius: 10px;
  }
  th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  .btn-secondary {
    margin-top: 30px;
  }
  .mb-4 {
    font-size: 45px;
  }