<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/million-smiles" rel="stylesheet">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="dashboard.css">
</head>

<body>
    <div class="container mt-4">
        <a href="/dashboard" class="btn btn-secondary mb-4">
            &larr; Back to Dashboard
        </a>
    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
        <h1 class="mb-5 text-white">Admin Panel</h1>
        <div class="d-flex flex-column gap-4">
            <a href="/admin_panel/add_questions" class="btn btn-primary btn-lg">
                Add question
            </a>
            <a href="/" class="btn btn-danger btn-lg">
                Top Incorrect Questions
            </a>
            <a href="/" class="btn btn-success btn-lg">
                Top Correct Questions
            </a>
        </div>
    </div>
</body>

</html>