<!-- views/content.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Contenido de <%= @lesson.name %></title>
  </head>
  <body>
    <h1>Contenido de <%= @lesson.name %></h1>
    <p><%= @lesson.content %></p>
  </body>
</html>