<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido de <%= @lesson.name %></title>
    <link rel="stylesheet" href="content.css">
    <style>
        body {
            font-family: 'Fira Code', monospace;
            background-color: #151818;
        }
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 40px;
            background-color: #212529;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .title-container {
            margin-bottom: 20px;
        }
        
        .content-container {
            padding: 20px;
            background-color: #2d3234;
            border-radius: 8px;
        }
        
        h1 {
            font-size: 2rem;
            color: white;
        }
        
        .content-text {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #d9d9d9;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="title-container text-center">
            <h1 class="h3 mb-3 font-weight-normal">Contenido de <%= @lesson.name %></h1>
        </div>
        <div class="content-container">
            <p class="content-text"><%= @lesson.content %></p>
        </div>
    </div>
</body>
</html>

