<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>End Game Timetrial</title>
  <link rel="stylesheet" href="/end_game.css">
</head>
<body>
  <div class="container">
    <h1>Game over!</h1>
    <p>You earn <%= @points %> points this time.</p>
    <p>Your streak was <%= @streak %> consecutive correct answers.</p>
    <form action="/" method="get">
        <button type="submit" class="btn btn-secondary" id="go-back"> Go Back </button>
    </form>
  </div>
</body>
</html>