<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson completed</title>
  <link rel="stylesheet" href="/lesson_completed.css">
</head>
<body>
  <div class="container">
    <% if session[:success] %>
      <% session.delete(:success) %>
    <% end %>

    <% if session[:error] %>
      <% session.delete(:error) %>
    <% end %>

    <h1>Lesson Completed!</h1>
    <p>Congratulations, you have finished this lesson.</p>
    <div class="button-container">
      <form action="/" method="get">
        <button type="submit" class="btn btn-secondary" id="go-back"> Go Back </button>
      </form>
    </div>
  </div>
</body>
</html>