<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson locked</title>
  <link rel="stylesheet" href="/lesson_locked.css">
</head>
<body>
  <div class="container">
    <h1>Blocked lesson!</h1>
    <p>We are sorry! This lesson has not been unlocked yet.</p>
    <p>Come back later once you have made enough progress!</p>
    <div class="button-container">
      <form action="/" method="get">
        <button type="submit" class="btn btn-secondary" id="go-back"> Go Back </button>
      </form>
    </div>
  </div>
</body>
</html>
