<!DOCTYPE html>
  <body>
    <h2>Road to Senior</h2>

    <form action="/login" method="get">
         <button type="submit">Iniciar Sesión</button>
    </form>

    <!-- Botón para registrarse -->
    <form action="/register" method="get">
         <button type="submit">Registrarse</button>
    </form>
  </body>
</html>