<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="progress.css">
    <style>
        body {
            font-family: 'Fira Code', monospace;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            background-color: #212529;
            margin: 0;
        }

        h1 {
            color: white;
        }
        
        .content-wrapper {
            width: 100%;
            max-width: 700px;
            padding: 30px;
            background: #343a40; 
            border-radius: 10px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            color: white; 
        }
        
        .content-wrapper h1 {
            color: white;
            margin-bottom: 30px !important;
            font-size: xx-large;
        }
        
        .list-group-item {
            background-color: #394041 !important; 
            color: white; 
        }
        
        .list-group-item strong {
            color: #ced4da;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <% if error_message %>
            <div class="alert alert-danger" role="alert">
                <%= error_message %>
            </div>
        <% else %>
            <h1 class="mb-4">Progress Details</h1>
            <ul class="list-group">
                <li class="list-group-item"><strong>Number of Correct Answers:</strong> <%= progress.numberOfCorrectAnswers %></li>
                <li class="list-group-item"><strong>Number of Achievements:</strong> <%= progress.numberOfAchivements %></li>
                <li class="list-group-item"><strong>Progress Level:</strong> <%= progress.progressLevel %></li>
            </ul>
        <% end %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
