<h2>Registrtrr</h2>

<form action="/register" method="post">
     <label for="username"><b>Username</b></label>
     <input type="text" placeholder="Enter Username" name="username" required>

     <label for="password"><b>Password</b></label>
     <input type="password" placeholder="Enter Password" name="password" required>

     <label for="email"><b>Email</b></label>
     <input type="email" placeholder="Enter E-mail" name="email" required>

     <button type="submit">Register</button>
</form>