<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <form class="form-signin" action="/register" method="post">
        <a href="/" class="back-button">&times;</a>
        <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" minlength="8" required>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
        <% if @error_message %>
            <p class="mt-2 text-danger text-center"><%= @error_message %></p>
        <% end %>
        <button class="btn btn-lg btn-primary btn-block mx-auto d-block" type="submit">Register</button>
        <p class="mt-3 mb-3 text-center">Already have an account? <a href="/login">Log in</a></p>
    </form>
</body>
</html>


